version: "3"
services:

  db:
    image: mysql:5.7
    volumes:
    - /var/lib/mysql
    environment:
    - MYSQL_ROOT_PASSWORD=devops
    - MYSQL_DATABASE=devops

  php:
    build: .
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./php/www:/var/www/html
    links: 
      - db
